#graph-container {
	display: flex;
}
#graph {
	margin-left: 10%;
	margin-top: auto;
}

#legend {
	margin-right: 5%;
	border: 1px solid green;
	text-align: left;
	padding: 10px;
}

.dygraph-ylabel {
	/*transform: rotate(270deg);*/
}